body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background-color: #F7F7F7;
}

.header {
  background-color: #222222;
  height: 288px;
  padding: 16px 0 0 0 ;
}

.header-emoji{
  font-size: 48px;
  text-align: center;
  margin: 0 auto;
}

.header-title{
  font-size: 48px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}

.header-description{
  color: #cfcfcf;
  margin: 4px auto;
  text-align: center;
  max-width: 348px;
}

.card{
  margin-bottom: 24px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.wrapper{
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 32px;
}

.filter-container{
  height: 112px;
  width: 912px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 24px;
  margin: -80px auto 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.Select-control{
  width: 256px;
  height: 46px;
}

.Select--single > .Select-control .Select-value, .Select-placeholder{
  line-height: 48px;
}

.Select--multi > .Select-value-label{
  line-height: 32px;
}

.menu-title{
  margin-bottom: 6px;
  font-weight: bold;
  color: #079a82;
}
